<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pinterest">
    <parameter name="path" value="https://www.pinterest.com"/>
    <test name="Sign In">
        <parameter name="login" value="horuk.at15@gmail.com"/>
        <parameter name="password" value="horuk.at15horuk.at15"/>
        <parameter name="boardName" value="Some Name"/>
        <parameter name="boardDescription" value="Some Description"/>
        <classes>
            <class name="functions.pages.CreateNewBoard"/>
        </classes>
    </test>
    
    <test name="UserInfo">
    <parameter name="title" value="Pinterest • The world’s catalog of ideas"/>
    	<classes>
    		<class name="functions.page.UserSettingsPage"/>
    	</classes>
    </test>
</suite>
